.App {
  text-align: center;
}

.App-body {
  background-color: #17171E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header {
  background-color: #17171E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: calc(20px + 5vmin);
  line-height: calc(20px + 5vmin);
  font-weight: bold;
}

.App-subtitle {
  font-size: calc(20px + 2vmin);
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}
.App-tertiarytitle {
  font-size: calc(15x + 1vmin);
  font-size: calc(15px + 1vmin);
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: #FA9D17;
  text-decoration: none; 
}

/* visited link */
a:visited {
  color: #FA9D17;
  text-decoration: none; 
}

/* mouse over link */
a:hover {
  color: #df8605;
  text-decoration: none; 
}

/* selected link */
a:active {
  color: #df8605;
  text-decoration: none; 
}